*{
    font-size: 30px;
}
nav{
    background-color: #7200fd;
}
nav ul{
    list-style-type: none;
    width: 100%;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
header nav ul li{
    position: relative;
    margin-top: -86px;
}
nav a{
    display: inline-block;
}
nav ul li:hover{
    background-color: rgb(217, 0, 255);
    transition: 0.7s;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    padding-right: 20px;
}
footer nav ul li{
    width: 20%;
    margin: auto;
    position: inherit;
    text-align: center;
}
footer nav ul{
    width: 50%;
    margin: auto;
}
section{
    background-color: rgb(189, 234, 248);
    margin-top: -40px;
}
section hr{
    margin:0;
}
article{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(242, 17, 104);
}
h1{
    font-size: 70px;
    color: rgb(247, 98, 17);
}
h3{
    font-size: 40px;
    color: rgb(247, 98, 17);
}
h1, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

article ul li ul li img{
    display: block;
}
article ul li ul {
    padding-bottom: 160px;
    margin-bottom: -40px;
    padding-top: 10px;
    margin-top: -40px;
}
article ul li ul li {
    display: inline-block;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}
.dortlu{
    margin-left: 70px;
    margin-right: 50px;
}
a{
    text-decoration: none;
}
